.item {
    margin: 10px;
    color: #0661bd;
    display: flex;
    align-items: center;
    width: 100%;
}

.css-1sszw6i-MuiButtonBase-root-MuiButton-root {
    width: 5px !important;
    height: 40px !important;
    margin: 10px !important;
}

.item__input {
    width: 90%;
    font-size: medium;

    outline: 0px;
    border-radius: 10px;
    padding: 10px;
    background-color: #282a36;
    border-color: #606582;
    color: white;
    border-style: solid;
    transition: all 500ms;
    box-shadow: 0px 0px 0px #606582;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
}
.item__input:focus {
    font-size: large;
    background-color: #606582;
    box-shadow: 0px 0px 10px #606582;
    cursor: text;
}
