body {
    background-color: #282a36;
}
* {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    background-color: hsl(235, 24%, 19%);
    width: 8px;
    height: 10px;
    transition: all 1000ms;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: hsla(235, 21%, 11%, 0.322);
    box-shadow: 0 0 3px hsl(235, 21%, 11%);
    border-radius: 10px;
    transition: all 1000ms;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 0%);
    border-radius: 10px;
    transition: all 1000ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsl(220, 98%, 61%);
}
